apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: database
spec:
  ports:
  - port: 3306
  selector:
    app: database
  clusterIP: None
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
      - image: mysql:8.0.23
        name: database
        envFrom:
          - configMapRef:
              name: database-config
        env:
          - name: MYSQL_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: database-secret
                key: MYSQL_ROOT_PASSWORD
        ports:
          - containerPort: 3306
            name: mysql
        volumeMounts:
          - name: db-file
            mountPath: /var/lib/mysql
      volumes:
        - name: db-file
          persistentVolumeClaim:
            claimName: database-persistent-volume-claim
